Repository dfrappart/aksagiclab: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/00_SubSetup_Plan.yaml, Pipelines/02_AzInfra_Plan.yaml

Path conditions:
  Pipelines/00_SubSetup_Plan.yaml: any of: Terraformconfig/00_SubSetup, Modules
  Pipelines/02_AzInfra_Plan.yaml: any of: Terraformconfig/01_Infra_AKS, Modules

updating readme
  .gitignore
Due: none

addingmodule folder
  .gitignore
Due: none

adding nsg rules
  Modules/231_NSGRule/01_DataSources.tf
  Modules/231_NSGRule/LICENSE
  Modules/231_NSGRule/Main.tf
  Modules/231_NSGRule/Outputs.tf
  Modules/231_NSGRule/Variables.tf
  Modules/231_NSGRule/readme.md
Due: Pipelines/00_SubSetup_Plan.yaml, Pipelines/02_AzInfra_Plan.yaml

removing lock.hcl
  Terraformconfig/01_Infra_AKS/.terraform.lock.hcl
  Terraformconfig/02_AKS_Addon/.terraform.lock.hcl
  Terraformconfig/03_TFForKube_helm/.terraform.lock.hcl
Due: Pipelines/02_AzInfra_Plan.yaml

adding infra applu
  Pipelines/03_AzInfra_Apply.yaml
  Pipelines/readme.md
Due: none

adding pipeline for helm config
  Pipelines/04_HelmAgic_Plan.yaml
Due: none

removing var file
  Pipelines/04_HelmAgic_Plan.yaml
Due: none

removing dependancies to un declared variables
  Terraformconfig/03_TFForKube_helm/Main.tf
  Terraformconfig/03_TFForKube_helm/Variables.tf
Due: none

removing dependancies to un declared variables
  Terraformconfig/03_TFForKube_helm/Variables.tf
Due: none

removing helm release for cert manager
  Terraformconfig/03_TFForKube_helm/Main.tf
Due: none

removing dependancie
  Terraformconfig/03_TFForKube_helm/Main.tf
Due: none

fixing output
  Terraformconfig/01_Infra_AKS/output.tf
Due: Pipelines/02_AzInfra_Plan.yaml
